.container
{
	width: 305px;
	margin: auto;
	margin-top: 200px;
}
#task
{
	font-size: 18px;
	border: none;
}
#timer
{
	font-size: 120px;
}
#controls
{
	width: 329px;
	margin: auto;
}
button
{
	font-size: 17px;
	padding: 4px 12px;
	margin: 0px 10px;
	width: 41px;
}
