.container
{
	width: 305px;
	margin: auto;
	margin-top: 200px;
}
.task
{
	font-size: 18px;
}
.timer
{
	font-size: 120px;
}
button
{
	padding: 4px 12px;
	margin: 0px 5px;
}
input
{
	border: 1px solid #d9d9d9;
	padding: 9px;
}
input:focus
{
	border-color: rgba( 82, 168, 236, 0.8 );
	box-shadow: 0 0 6px rgba( 102, 175, 233, .6 );
	outline: 0;
}
